<%= render "homepage_banner" %>
  <div>
    <% if @concerts.present? %>
      <h4>Upcoming shows near you</h4>
      <div class="grid-container">
        <% upcoming = [] %>
        <% @concerts.each do |concert| %>
          <% if (concert.date).after?(Date.today) %>
            <% upcoming << concert %>
          <% end %>
        <% end %>
        <% upcoming.first(3).each do |concert|%>
          <%= link_to concert_path(concert) do %>
            <%= render "concerts/concert_card", concert: concert %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div>
    <h4>See what others are saying</h4>
    <div class="grid-container">
      <% @reviews.sample(6).each do |review| %>
        <%= link_to concert_path(review.concert) do %>
          <%= render "user_review_card", review: review %>
        <% end %>
      <% end %>
    </div>
  </div>
